/* All content is designed by Jay Dragon and based off the protype play materials of 7 Part Pact.
 This project is not associated with Jay Dragon or Possum Creek games. */

.outlined {
  outline: solid black 1px;
  margin: 5px;
  overflow-y: scroll;
}

.content {
  min-height: 0%;
  max-height: 100%;
}

.summary {
  min-height: 100%;
  max-height: 100%;
  overflow-y: hidden;

  display: grid;
  grid-template-areas:
    "symbol    title     title       title       title   g-aside"
    "symbol    pronouns  fragment    familiar    history g-aside"
    "fire      air       water       earth       history g-aside"
    "treasures treasures possessions possessions history g-aside";
  grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr 3fr 2fr;
  gap: 10px;
}

.summary .div {
  min-height: 0;
}

.symbol {
  grid-area: symbol;
  aspect-ratio: 1/1;
  background-color: red;
}
.name {
  grid-area: title;
  h1 {
    text-align: center;
  }
}
.pronouns {
  grid-area: pronouns;
}
.fragment {
  grid-area: fragment;
}
.familiar {
  grid-area: familiar;
}
.fire {
  grid-area: fire;
}
.air {
  grid-area: air;
}
.water {
  grid-area: water;
}
.earth {
  grid-area: earth;
}
.treasures {
  grid-area: treasures;
}
.possessions {
  grid-area: possessions;
}
.history {
  grid-area: history;
  max-height: 100%;
  overflow-y: scroll;
}
.powers {
  grid-area: g-aside;
}

#warlock-game-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: -5px;

  #information {
    flex: 2 500px;
  }

  .rules {
    outline: solid red;
    padding: 10px;
  }

  #king-and-laws {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -5px 10px;
  }

  #king-and-laws > .rules {
    flex: 1;
    margin: 0 5px;
  }

  h3 {
    font-size: 12pt;
    font-family: "Alegreya", "Times New Roman", Times, serif;
    margin-bottom: 0.3em;
    margin-top: 0.1em;
  }

  p {
    margin: 0.1em 0px;
    font-family: "Alegreya";
    font-size: medium;
  }

  #warlock-board {
    flex: 3 500px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;

    grid-template-areas:
      "harlot disasterous blank1 gossip traitor"
      "seductive courtesan love confidant liar"
      "blank2 friend king guide blank3"
      "fool hound heir ward cowardly"
      "worthless liability blank4 irritating disgrace";

    #harlot {
      grid-area: harlot;
    }
    #disasterous {
      grid-area: disasterous;
    }
    #gossip {
      grid-area: gossip;
    }
    #traitor {
      grid-area: traitor;
    }
    #seductive {
      grid-area: seductive;
    }
    #courtesan {
      grid-area: courtesan;
    }
    #love {
      grid-area: love;
    }
    #confidant {
      grid-area: confidant;
    }
    #liar {
      grid-area: liar;
    }
    #friend {
      grid-area: friend;
    }
    #king {
      grid-area: king;
      background-color: white;
      outline-width: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #guide {
      grid-area: guide;
    }
    #fool {
      grid-area: fool;
    }
    #hound {
      grid-area: hound;
    }
    #heir {
      grid-area: heir;
    }
    #ward {
      grid-area: ward;
    }
    #cowardly {
      grid-area: cowardly;
    }
    #worthless {
      grid-area: worthless;
    }
    #liability {
      grid-area: liability;
    }
    #irritating {
      grid-area: irritating;
    }
    #disgrace {
      grid-area: disgrace;
    }
  }
  .standing {
    background-color: #e6e6e6;
    outline: solid black;
    border-radius: 5px;

    h3 {
      margin-top: 0.3em;
      text-align: center;
      font-family: "Averia Serif Libre", Georgia, "Times New Roman", Times,
        serif;
      font-weight: normal;
    }
  }

  .risky {
    background-color: #666666;
    color: white;
  }

  .outskirt {
    background-color: #bdbdbd;
  }

  .inner-circle {
    background-color: white;
  }
}
