.warlock.summary {
  min-height: 0;
  min-width: 0;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "symbol    title     title       title       title   g-aside"
    "symbol    pronouns  fragment    familiar    history g-aside"
    "circles   circles   circles     circles     history g-aside"
    "treasures treasures possessions possessions history g-aside";

  .circles {
    grid-area: circles;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas: "fire      air       water       earth";

    .fire {
      grid-area: fire;
    }
    .air {
      grid-area: air;
    }
    .water {
      grid-area: water;
    }
    .earth {
      grid-area: earth;
    }
  }
}

.warlock.summary > div {
  min-height: 0;
  min-width: 0;
  max-height: 100%;
  overflow: scroll;
}

.outlined {
  outline: solid rgb(255, 255, 255) 1px;
  padding: 5px;
  margin: 5px;
  overflow-y: scroll;
}

.symbol {
  grid-area: symbol;
  background-color: red;
}
.title {
  grid-area: title;
  h1 {
    text-align: center;
  }
}
.pronouns {
  grid-area: pronouns;
}
.fragment {
  grid-area: fragment;
}
.familiar {
  grid-area: familiar;
}

.treasures {
  grid-area: treasures;
}
.possessions {
  grid-area: possessions;
}
.history {
  grid-area: history;
  max-height: 100%;
  overflow-y: scroll;
}
.powers {
  grid-area: g-aside;
}
